.footer {
    background-color: #0f0f0f;
    .footer-title {
        font-size: 0.875rem;
        font-weight: 400;
        color: #828282;
    }
    .footer-list {
        padding: 0;
        margin: 0;
        list-style-type: none;
        li {
            a {
                display: inline-block;
                font-size: 1rem;
                font-weight: 400;
                margin-bottom: 0.625rem;
                text-decoration: none;
                color: #fff;
                &:hover {
                    text-decoration: underline;
                }
            }
            &:last-child {
                a {
                    margin-bottom: 0;
                }
            }
        }
    }

    .accordion-item {
        background-color: transparent;
        .accordion-button {
            background-color: transparent;
        }
    }
}